{# Place theme favicons in /themes/base/images/favicons #}
{# Place theme favicons in /themes/base/images/favicons #}
<link href="/themes/base/images/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
  
<link href="/themes/base/images/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  
<link href="/themes/base/images/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
  
<link rel="manifest" href="/themes/base/images/favicons/site.webmanifest">
  
<link color="#000000" href="/themes/base/images/favicons/safari-pinned-tab.svg" rel="mask-icon">
  
          <meta name="msapplication-TileColor" content="#603cba">
            <meta name="theme-color" content="#ffffff">
              
                  
                  