{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
<svg width="225px" height="90px" viewbox="0 0 305 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <polygon id="path-1" points="0 0.6575625 22.7010672 0.6575625 22.7010672 25.9214375 0 25.9214375"></polygon>
        <polygon id="path-3" points="0.155198276 0.8595125 11.0102845 0.8595125 11.0102845 11.375 0.155198276 11.375"></polygon>
    </defs>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="MENU/menu" transform="translate(-51.000000, -23.000000)">
            <g id="logo-geel" transform="translate(51.000000, 23.000000)">
                <ellipse id="Oval" fill="#000000" fill-rule="nonzero" cx="44.8448276" cy="45.5" rx="29.8965517" ry="29.75"></ellipse>
                <path d="M28.8189411,25.6347685 L48.3917538,25.6347685 C53.189315,25.6347685 56.5723466,26.8269606 58.8094414,28.9976998 C60.3344121,30.5688262 61.2603502,32.5804306 61.2603502,35.1828559 L61.2603502,35.2909972 C61.2603502,39.6878651 58.7520121,42.2902904 55.3707475,43.7567922 C60.0075064,45.2769251 62.9531913,47.8802296 62.9531913,53.0358452 L62.9531913,53.1422281 C62.9531913,59.6535665 57.6078423,63.6143523 48.5013114,63.6143523 L28.8189411,63.6143523 L28.8189411,25.6347685 Z M89.6896552,44.6254396 C89.6896552,19.977131 69.6114641,0 44.8443858,0 C20.076424,0 0,19.977131 0,44.6254396 C0,69.2702314 20.076424,89.25 44.8443858,89.25 C69.6114641,89.25 89.6896552,69.2702314 89.6896552,44.6254396 Z" id="Fill-1" fill="#FAC42B" fill-rule="evenodd"></path>
                <path d="M50.1206897,37.6540476 L50.1206897,37.5369352 C50.1206897,35.3219437 48.4725461,34.125 45.4433392,34.125 L38.6896552,34.125 L38.6896552,41.125 L45.177982,41.125 C48.3148826,41.125 50.1206897,39.9870735 50.1206897,37.6540476" id="Fill-3" fill="#FAC42B" fill-rule="evenodd"></path>
                <path d="M51.8793103,51.6513819 L51.8793103,51.5423367 C51.8793103,49.478392 50.2521523,48.125 46.7234182,48.125 L38.6896552,48.125 L38.6896552,55.125 L46.8324818,55.125 C50.090316,55.125 51.8793103,53.8780151 51.8793103,51.6513819" id="Fill-5" fill="#FAC42B" fill-rule="evenodd"></path>
                <g id="Group-9" stroke-width="1" fill-rule="evenodd" transform="translate(117.827586, 29.750000)">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="Clip-8"></g>
                    <path d="M6.85501552,20.2890625 L6.85501552,15.6331875 L12.2205672,15.6331875 C14.5779983,15.6331875 15.6657052,16.5379375 15.6657052,17.9073125 L15.6657052,17.9808125 C15.6657052,19.4595625 14.4698431,20.2890625 12.2944293,20.2890625 L6.85501552,20.2890625 Z M6.85501552,6.2864375 L11.4582052,6.2864375 C13.5263431,6.2864375 14.6527397,7.0450625 14.6527397,8.4529375 L14.6527397,8.5238125 C14.6527397,10.0043125 13.4173086,10.7261875 11.2779466,10.7261875 L6.85501552,10.7261875 L6.85501552,6.2864375 Z M22.7010672,18.9546875 L22.7010672,18.8829375 C22.7010672,15.4538125 20.7437224,13.7213125 17.662619,12.7115625 C19.9118948,11.7368125 21.5781879,10.0043125 21.5781879,7.0800625 L21.5781879,7.0083125 C21.5781879,5.2766875 20.9626707,3.9414375 19.9470672,2.8940625 C18.4592741,1.4511875 16.2108776,0.6575625 13.0207397,0.6575625 L-8.79310345e-05,0.6575625 L-8.79310345e-05,25.9214375 L13.0919638,25.9214375 C19.1495328,25.9214375 22.7010672,23.2850625 22.7010672,18.9546875 Z" id="Fill-7" fill="#FAC42B" mask="url(#mask-2)"></path>
                </g>
                <polygon id="Fill-10" fill="#FAC42B" fill-rule="evenodd" points="178.5 50.0165905 165.111923 50.0165905 165.111923 45.9930815 177.078051 45.9930815 177.078051 40.4473538 165.111923 40.4473538 165.111923 36.5706177 178.323012 36.5706177 178.323012 30.625 158.275862 30.625 158.275862 56 178.5 56"></polygon>
                <path d="M212.709377,39.7952255 C212.709377,41.6443873 211.270235,42.8045078 208.871962,42.8045078 L204.117429,42.8045078 L204.117429,36.6804776 L208.836207,36.6804776 C211.198724,36.6804776 212.709377,37.6947042 212.709377,39.7240363 L212.709377,39.7952255 Z M219.862183,39.3223885 L219.862183,39.2538359 C219.862183,36.7490302 219.088085,34.829558 217.576538,33.3442522 C215.839735,31.6401055 213.113409,30.625 209.167835,30.625 L196.965517,30.625 L196.965517,56 L204.117429,56 L204.117429,48.3142015 L207.288905,48.3142015 L212.487695,56 L220.706897,56 L214.551658,47.1567176 C217.758889,45.8137902 219.862183,43.239553 219.862183,39.3223885 Z" id="Fill-12" fill="#FAC42B" fill-rule="evenodd"></path>
                <polygon id="Fill-14" fill="#FAC42B" fill-rule="evenodd" points="254.260828 44.0393331 243.916265 30.625 237.413793 30.625 237.413793 56 244.31075 56 244.31075 42.0794325 255.083761 56 261.155172 56 261.155172 30.625 254.260828 30.625"></polygon>
                <path d="M297.172113,43.3458974 C297.172113,47.4441111 294.425598,49.765231 290.248265,49.765231 L287.42731,49.765231 L287.42731,36.8237349 L290.248265,36.8237349 C294.425598,36.8237349 297.172113,39.2134075 297.172113,43.2773448 L297.172113,43.3458974 Z M290.176421,30.625 L280.5,30.625 L280.5,56 L290.033599,56 C298.994178,56 304.241379,50.5614956 304.241379,43.239553 L304.241379,43.1657272 C304.241379,35.8437846 299.066022,30.625 290.176421,30.625 Z" id="Fill-16" fill="#FAC42B" fill-rule="evenodd"></path>
                <g id="Group" stroke-width="1" fill-rule="evenodd" transform="translate(117.827586, 64.750000)">
                    <polygon id="Fill-18" fill="#FAC42B" points="9.47385984 0.875 6.65109979 0.875 2.33872762 5.46423037 2.33872762 0.875 0 0.875 0 11.375 2.33872762 11.375 2.33872762 8.16516012 3.56665112 6.90599174 6.86337866 11.375 9.67241379 11.375 5.14867774 5.33044938"></polygon>
                    <polygon id="Fill-20" fill="#FAC42B" points="12.70555 0.875 10.5517241 0.875 10.5517241 11.375 17.5862069 11.375 17.5862069 9.27427686 12.70555 9.27427686"></polygon>
                    <path d="M25.0366748,6.79743791 C25.0366748,8.43781258 24.2175602,9.27713614 22.860766,9.27713614 C21.5065777,9.27713614 20.68312,8.40844071 20.68312,6.72445325 L20.68312,0.875 L18.4655172,0.875 L18.4655172,6.78052683 C18.4655172,9.82541112 20.1211189,11.375 22.8312327,11.375 C25.5422152,11.375 27.2586207,9.83876197 27.2586207,6.70843223 L27.2586207,0.875 L25.0366748,0.875 L25.0366748,6.79743791 Z" id="Fill-22" fill="#FAC42B"></path>
                    <path d="M33.7610403,5.12033512 C32.0322657,4.66874111 31.6026549,4.44821563 31.6026549,3.77697473 L31.6026549,3.74973852 C31.6026549,3.25421513 32.0451798,2.86148649 32.8871826,2.86148649 C33.7317683,2.86148649 34.6030431,3.24015773 35.4880931,3.86659066 L36.6305652,2.1753096 C35.6163737,1.34240859 34.3748931,0.875 32.9173157,0.875 C30.8734357,0.875 29.4175801,2.10150824 29.4175801,3.95181366 L29.4175801,3.98080705 C29.4175801,6.00946574 30.7167439,6.57791189 32.7313519,7.10330725 C34.4015823,7.53908669 34.7459598,7.83077776 34.7459598,8.40098109 L34.7459598,8.4282173 C34.7459598,9.02829261 34.2044263,9.39114928 33.3030184,9.39114928 C32.1596853,9.39114928 31.2160912,8.91056188 30.3146833,8.15146222 L29.0172414,9.7425843 C30.2165357,10.8364258 31.7447105,11.375 33.2599712,11.375 C35.4192176,11.375 36.9310345,10.2354719 36.9310345,8.21032759 L36.9310345,8.18045561 C36.9310345,6.40219438 35.7877014,5.6589093 33.7610403,5.12033512" id="Fill-24" fill="#FAC42B"></path>
                    <path d="M43.4310457,5.12033512 C41.7028351,4.66874111 41.2742251,4.44821563 41.2742251,3.77697473 L41.2742251,3.74973852 C41.2742251,3.25421513 41.7191877,2.86148649 42.5609158,2.86148649 C43.4026439,2.86148649 44.2727738,3.24015773 45.1609777,3.86659066 L46.3022163,2.1753096 C45.2883557,1.34240859 44.0455589,0.875 42.5893177,0.875 C40.5469652,0.875 39.0890026,2.10150824 39.0890026,3.95181366 L39.0890026,3.98080705 C39.0890026,6.00946574 40.3886033,6.57791189 42.4025539,7.10330725 C44.0739607,7.53908669 44.4182258,7.83077776 44.4182258,8.40098109 L44.4182258,8.4282173 C44.4182258,9.02829261 43.8734263,9.39114928 42.9766159,9.39114928 C41.8310739,9.39114928 40.8903696,8.91056188 39.9892558,8.15146222 L38.6896552,9.7425843 C39.8911402,10.8364258 41.4179558,11.375 42.9335827,11.375 C45.0878213,11.375 46.6034483,10.2354719 46.6034483,8.21032759 L46.6034483,8.18045561 C46.6034483,6.40219438 45.4604883,5.6589093 43.4310457,5.12033512" id="Fill-26" fill="#FAC42B"></path>
                    <polygon id="Fill-28" fill="#FAC42B" points="50.6359315 7.11389463 55.5343074 7.11389463 55.5343074 5.06017562 50.6359315 5.06017562 50.6359315 2.92871901 56.2025117 2.92871901 56.2025117 0.875 48.362069 0.875 48.362069 11.375 56.2758621 11.375 56.2758621 9.31766529 50.6359315 9.31766529"></polygon>
                    <polygon id="Fill-30" fill="#FAC42B" points="64.6819088 7.33716426 60.0447244 0.875 58.0344828 0.875 58.0344828 11.375 60.1844191 11.375 60.1844191 4.69860537 64.9766307 11.375 66.8275862 11.375 66.8275862 0.875 64.6819088 0.875"></polygon>
                    <polygon id="Fill-32" fill="#FAC42B" points="81.0405871 0.875 78.2867031 8.21602564 75.5355367 0.875 72.9827586 0.875 77.2358789 11.375 79.2822684 11.375 83.5344828 0.875"></polygon>
                    <path d="M86.5798207,7.01166667 L87.904893,3.63282051 L89.2248228,7.01166667 L86.5798207,7.01166667 Z M86.9200883,0.875 L82.6551724,11.375 L84.8861965,11.375 L85.7972909,9.03717949 L90.0064955,9.03717949 L90.9184469,11.375 L93.2068966,11.375 L88.9419807,0.875 L86.9200883,0.875 Z" id="Fill-34" fill="#FAC42B"></path>
                    <polygon id="Fill-36" fill="#FAC42B" points="101.61124 7.33716426 96.9749071 0.875 94.9655172 0.875 94.9655172 11.375 97.1163054 11.375 97.1163054 4.69860537 101.905962 11.375 103.758621 11.375 103.758621 0.875 101.61124 0.875"></polygon>
                    <path d="M113.838441,7.01166667 L115.1618,3.63282051 L116.482586,7.01166667 L113.838441,7.01166667 Z M114.178709,0.875 L109.913793,11.375 L112.14396,11.375 L113.055054,9.03717949 L117.265116,9.03717949 L118.177068,11.375 L120.465517,11.375 L116.200601,0.875 L114.178709,0.875 Z" id="Fill-38" fill="#FAC42B"></path>
                    <polygon id="Fill-40" fill="#FAC42B" points="126.62069 3.00555269 129.850157 3.00555269 129.850157 11.375 132.184326 11.375 132.184326 3.00555269 135.413793 3.00555269 135.413793 0.875 126.62069 0.875"></polygon>
                    <g id="Group-44" transform="translate(135.413793, 0.000000)">
                        <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                        </mask>
                        <g id="Clip-43"></g>
                        <path d="M8.66164655,6.1480125 C8.66164655,7.8901375 7.40599138,9.3120125 5.59725,9.3120125 C3.78762931,9.3120125 2.50119828,7.8586375 2.50119828,6.1191375 L2.50119828,6.0893875 C2.50119828,4.3463875 3.75861207,2.9218875 5.56559483,2.9218875 C7.37697414,2.9218875 8.66164655,4.3761375 8.66164655,6.1191375 L8.66164655,6.1480125 Z M5.59725,0.8595125 C2.4440431,0.8595125 0.155198276,3.2290125 0.155198276,6.1191375 L0.155198276,6.1480125 C0.155198276,9.0346375 2.41590517,11.3752625 5.56559483,11.3752625 C8.71880172,11.3752625 11.0102845,9.0092625 11.0102845,6.1191375 L11.0102845,6.0893875 C11.0102845,3.1992625 8.74869828,0.8595125 5.59725,0.8595125 Z" id="Fill-42" fill="#FAC42B" mask="url(#mask-4)"></path>
                    </g>
                    <polygon id="Fill-45" fill="#FAC42B" points="146.844828 3.00555269 150.073624 3.00555269 150.073624 11.375 152.409135 11.375 152.409135 3.00555269 155.637931 3.00555269 155.637931 0.875 146.844828 0.875"></polygon>
                    <polygon id="Fill-47" fill="#FAC42B" points="161.974854 2.89888946 167.60095 2.89888946 161.793103 9.61867252 161.793103 11.375 170.586207 11.375 170.586207 9.35111054 164.77836 9.35111054 170.586207 2.6286157 170.586207 0.875 161.974854 0.875"></polygon>
                </g>
            </g>
        </g>
    </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
