// Non-modular or client styles for .l-footer region.
footer#footer {
  @include flex-grid-row();
  flex-direction: column-reverse;
  align-items: center;
  padding: 30px 0;
  color: white;
  @include breakpoint(mediumplus) {
    flex-direction: row;
  }

  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      width: auto;
      margin-bottom: 0;
      @include flex-grid-column(1 of 3);
    }
  }

  .paragraph--type--branch {
    @include breakpoint(smallplus){
      flex-direction: row;
      align-items: unset;
    }
       @include breakpoint(mediumplus) {
         flex-direction: column;
       }
       @include breakpoint(largemin) {
         flex-direction: row;
       }
    @include breakpoint(mediumplus) {
      justify-content: flex-end;
    }
    .base-contact-fields {
      @include breakpoint(smallplus){
        padding-right: 15px;
        text-align: right;
      }
      @include breakpoint(mediumplus) {
        padding-right: 0px;
      }
          @include breakpoint(largemin) {
            padding-right: 30px;
          }
    }
    .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        padding-left: 15px;
        text-align: left;
      }
      @include breakpoint(mediumplus) {
        text-align: right;
        padding-left: 0;
      }
    }
    .base-contact-fields, .field-name-field-extra-contact-fields {
      @include breakpoint(smallplus) {
        flex: 1 0 50%;
      }
      @include breakpoint(mediumplus){
        flex: unset;
      }
    }
  }

  .block-social {
        margin-bottom: 15px;
    .linkicon {
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-start;
      }
      li{
      
        a{
              padding: 8px 14px;
                background-color: $primary-color;
                border-radius: 72px;
    
          svg{
            color: black;
          }
        }
      }
    }
  }
}

#footer-wrapper{
  background-color: black;
}

.block-base-footer {
  ul.menu {
    justify-content: center;
    
    @include breakpoint(mediumplus){
      justify-content: flex-start;
      flex-direction: column;
    }
    @include breakpoint(large){
      flex-direction: row;
    }
    &>li {
      a {
        font-size: 14px;
        color: white;
        text-transform: lowercase;
        @include breakpoint(mediumplus){
          padding-left: 0;
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
      }
    }
  }
}

.region-footer_middle {
  text-align: center;
}

