.region-right_off_canvas {
  padding-top: 71.2px;
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(71.2px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(71.2px + 76px)); // header height + toolbar and tray height
    }
  }
}