.block.contact-data.full {}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;

  @include breakpoint(mediumplus) {
    height: 100%;
  }
}

.contactwrapper {
  max-width: $max-container;
  margin: 0 auto;
  margin-top: -30px;
  margin-bottom: 30px;

  @include breakpoint(medium) {
    margin-top: -50px;
    margin-bottom: 50px;
  }

  @include breakpoint(large) {
    margin-top: -80px;
    margin-bottom: 80px;
  }

  @include breakpoint(xxlarge) {
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .field-name-field-paragraphs {
    .field-items {
      .field-item {
        background-color: transparent !important;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .paragraph--type--image {
          max-width: 680px;
        }
      }

      display: flex;
      flex-direction: column;

      @include breakpoint(mediumplus) {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      .paragraph--type--form {
        @include breakpoint(mediumplus) {
          padding-left: 75px;
        }

        .formtitle {
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 30px;
          margin-bottom: 30px;
        }

      }

      form {
        max-width: 500px;

        .form-wrapper {
          display: flex;
          flex-direction: column;

          @include breakpoint(mediumplus) {
            flex-direction: row;
            flex-wrap: nowrap;

            .js-form-item:first-of-type {
              margin-right: 30px;
            }

            .js-form-item {
              margin-top: 0px;
            }
          }


        }

        .js-form-item {
          margin-top: 30px;
          margin-bottom: 0px;

          label {
            font-size: 15px;
            font-weight: bold;
          }

          input {
            height: 43px;

          }
        }

        .js-form-type-checkbox {
          margin-bottom: 30px;
          input {
            display: none;

            &+label {
              display: -webkit-inline-box;
              margin: 0px;

              &:before {
                content: "";
                width: 18px;
                height: 18px;
                border: 2px solid black;
                display: block;
                margin-right: 10px;
                margin-top: 5px;
                margin-left: 0px;

              }
            }

            &:checked {
              &+label {
                &:before {
                  background: url("icons/checked.svg") no-repeat center center;
                }
              }
            }
          }

        }
      }
    }
  }

}
   .contactheader.page-header::after {
       display: none !important
   }
