.home.full {
  .field-name-field-paragraphs {
    &>.field-items {
      .text-image-wrapper {
        background-color: $light-gray;
      }

      &>.field-item:last-of-type {
        margin-bottom: 0px;
      }
    }
  }

  figcaption {
    @include breakpoint(mediumplus) {
      padding: 0px;
      padding-right: 40px;
    }
  }

  h1 {
    font-size: rem-calc(16);
    text-transform: uppercase;
    font-weight: bold;

    @include breakpoint(mediumplus) {
      color: white;

    }
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    font-size: rem-calc(30);
    margin-bottom: 15px;

    @include breakpoint(mediumplus) {
      font-size: rem-calc(32);
      letter-spacing: 2px;
    }

    @include breakpoint(large) {
      font-size: rem-calc(32);
    }
  }

  h3 {
    text-transform: uppercase;
    font-weight: bold;

    @include breakpoint(xlarge) {
      font-size: rem-calc(30);
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 15px;
  }

  .field-node--field-paragraphs {
    .field-items {
      .field-item {
        .paragraph--type--text-image {
          div {
            .field-paragraph--field-text {
              .field-items {
                .field-item {
                  text-align: left;
                }
              }

            }
          }
        }
      }

    }

  }



}

.home .view-mode-full .field-name-field-paragraphs .field-items .field-item:first-of-type .paragraph--type--text-blocks:first-of-type .field-paragraph--field-text-blocks .field-items .field-item .paragraph--type--text-block .field-paragraph--field-text .field-items .field-item {
  @include breakpoint(medium) {
    text-align: center;
  }

  p {
    margin-bottom: 0px;
  }
}

.path-frontpage {
  .option-image-left {
      position: relative;
      figure{
        z-index: 1;
      }
  }
           .option-image-left::before {
             display: none;
             @include breakpoint(mediumplus){
                       content: "";
         display: block;
         background-image:url("../images/tools/ruler.svg");
         background-size: 20%;
         background-repeat: no-repeat;
         position: absolute;
         width: 100%;
         height: 100%;
         background-position: left bottom;
        left: -34px;
        z-index: 1;
        top: 115px;
             }

            }

          .option-image-left::after {
            display: none;

            @include breakpoint(mediumplus) {
            content: "";
            display: block;
            background-image:url("../images/tools/screwdriver.svg");
            background-size: 20%;
            background-repeat: no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
                background-position: right top;
                top: -162px;
                right: -35px;
            }
          }
        }
      
    


  


