.page.full {
  header {
    figure {
      .page-header{
        position: relative;
                max-width: $max-container;
                margin: 0 auto;
           
      img {
        @include grid-col-gutter();
        margin: 0 auto 30px auto;
        display: block;
   
        @include breakpoint(medium){
          margin: 0 auto 50px auto;
        }
        @include breakpoint(large){
          margin: 0 auto 80px auto;
        }
        @include breakpoint(xxlarge) {
          max-width: $max-container;
        }
      }
      h1{
        @include grid-col-gutter;
        position: absolute;
        top: 50%;
         transform: translateY(-50%);
         right: 25px;
         text-transform: uppercase;
         font-weight: bold;
         color: $primary-color;
         z-index: 2;
         margin-right: 50px;
              @include breakpoint(xxlarge) {
                max-width: $max-container;
              }
      }
        }
        .page-header::before {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          right: 16Px;
          width: 100%;
          height: 100%;
          display: block;
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 10%, #000000 100%);

        }
        .page-header::after{
          display: none;
                @include breakpoint(mediumplus) {
                  content: "";
                  display: block;
                  background-image: url("../images/tools/wrench.svg");
                  background-size: 20%;
                  background-repeat: no-repeat;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-position: left center;
                  left: -135px;
                  top: 85%;
                }
        }
     
      figcaption {
        @include grid-row();
        @include grid-col-gutter();
        margin-bottom: 30px;
        @include breakpoint(medium){
          margin-bottom: 50px;
        }
                @include breakpoint(mediumplus) {
                  margin-top: 80px;
                }
        @include breakpoint(large){
          margin-bottom: 80px;
          margin-top: 100px;
        }
        .body{
          .field-items{
            .field-item{
              max-width: 1120px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .field-name-field-paragraphs {
    &>.field-items {
       &>.field-item:nth-child(odd) {
         background-color: $light-gray;
         margin-bottom: 0px;
       
       }
       &>.field-item:nth-child(even) {
         background-color: white;
                 margin-top: 30px;

                 @include breakpoint(medium) {
                   margin-top: 50px;
                 }

                 @include breakpoint(large) {
                   margin-top: 80px;
                 }

                 @include breakpoint(xxlarge) {
                   margin-top: 100px;
                 }
       }
      }
      }
  h3{
    text-transform: uppercase;

  }

}
#block-base-breadcrumbs{
  display: none;
}