.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 30px;
      @include breakpoint(medium){
        margin-bottom: 50px;
      }
            @include breakpoint(mediumplus) {
              margin-bottom: 130px;
            }
      @include breakpoint(large){
        margin-bottom: 140px;
      }
      @include breakpoint(xxlarge){
        margin-bottom: 180px;
      }
    }

  }
 
}

.field-name-field-text-blocks {
  &>.field-items {
    @include breakpoint(medium){
      @include flex-grid-row();
      flex-wrap: nowrap;
      justify-content: center;
    }
    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
    }
  }
}
.paragraph--type--text-image {
  
      padding-top: 15px;
      padding-bottom: 15Px;
         @include breakpoint(medium) {
           padding-top: 20px;
           padding-bottom: 20Px;
         }
      @include breakpoint(mediumplus){
            padding-top: 30px;
            padding-bottom: 30Px;
      }
            @include breakpoint(xlarge) {
              padding-top: 75px;
              padding-bottom: 75px;
            }
  @include breakpoint(medium){
    @include flex-grid-row();
    align-items: center;
  }

  &>div, &>figure {
    @include breakpoint(medium){
      @include flex-grid-column(1 of 2);
    }
  }
  &>div {
    @include grid-col-gutter();
    @include breakpoint(large){
      @include flex-grid-column(4 of 12);
      a.button{
            margin-top: 40px;
      }
      p{
            margin-top: 25px;
            margin-bottom: 50px;
      }
    }
  }
  &>figure {
    @include grid-col-gutter();
    @include breakpoint(medium){
    }
    @include breakpoint(large){
      @include flex-grid-column(7 of 12);
      margin-bottom: 0;
    }
  }

  &.option-image-right {
        @include breakpoint(medium) {
          justify-content: space-between;
        }
    @include breakpoint(large){
      &>figure {
        padding-left: 125px !important;
      }
    }
  }

  &.option-image-left {
    @include breakpoint(medium){
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    @include breakpoint(large){
      &>figure {
        padding-right: 105px !important;
      }
    }
  }
}

.paragraph--type--form {
  @include grid-row();
  @include grid-col-gutter();
  h2, .field-name-field-form {
    max-width: 800px;
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();
  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-branches {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;
      @include breakpoint(medium){
        padding: 30px;
      }
      @include breakpoint(large){
        padding: 30px 60px;
      }
      .paragraph--type--branch {
        justify-content: center;
        @include breakpoint(mediumplus){
          flex-wrap: wrap;
        }
        @include breakpoint(large){
          flex-wrap: unset;
          flex-direction: row;
        }
        .base-contact-fields, .field-name-field-extra-contact-fields {
          text-align: center;
          @include breakpoint(large) {
            flex: 1 0 50%;
          }
         
        }
        .base-contact-fields {
          @include breakpoint(large){
            padding-right: 15px;
            text-align: left;
          }
        }
        .field-name-field-extra-contact-fields {
          @include breakpoint(large){
            padding-left: 15px;
            text-align: left;
          }
       
        }
      }

      a {
        color: $white;
        transition: color .25s ease-out;
        &:hover, &:focus {
          color: darken($white, 20%);
        }
      }
    }
  }
  .form-field-wrapper {
    @include flex-grid-column(1 of 1);
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(large){
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
    width: 100%;
    .field-items{
      width: 100%;
      .field-item{
          width: 100%;
      }
    }
  }
}
   .paragraph--type--contact-field {
     a {
       color: white !important;
     }
   }