.project.full {
  header {
    figure {
      .page-header{
        position: relative;
                max-width: $max-container;
                margin: 0 auto;
           
      img {
        @include grid-col-gutter();
        margin: 0 auto 30px auto;
        display: block;
   
        @include breakpoint(medium){
          margin: 0 auto 50px auto;
        }
        @include breakpoint(large){
          margin: 0 auto 80px auto;
        }
        @include breakpoint(xxlarge) {
          max-width: $max-container;
        }
      }
      h1{
        @include grid-col-gutter;
        position: absolute;
        top: 50%;
         transform: translateY(-50%);
         right: 25px;
         text-transform: uppercase;
         font-weight: bold;
         color: $primary-color;
         z-index: 2;
         margin-right: 50px;
              @include breakpoint(xxlarge) {
                max-width: $max-container;
              }
      }
        }
        .page-header::before {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          right: 16Px;
          width: 100%;
          height: 100%;
          display: block;
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 10%, #000000 100%);

        }
        
      figcaption {
        @include grid-row();
        @include grid-col-gutter();
        margin-bottom: 30px;
        @include breakpoint(medium){
          margin-bottom: 50px;
        }
        @include breakpoint(large){
          margin-bottom: 80px;
        }
        .body{
          .field-items{
            .field-item{
              max-width: 1120px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .field-name-field-paragraphs {
    &>.field-items {
       &>.field-item:nth-child(odd) {
         background-color: $light-gray;
         margin-bottom: 0px;
       
       }
       &>.field-item:nth-child(even) {
         background-color: white;
                 margin-top: 30px;

                 @include breakpoint(medium) {
                   margin-top: 50px;
                 }

                 @include breakpoint(large) {
                   margin-top: 80px;
                 }

                 @include breakpoint(xxlarge) {
                   margin-top: 100px;
                 }
       }
      }
      }
  h3{
    text-transform: uppercase;

  }

}
#block-base-breadcrumbs{
  display: none;
}
.project.full{
       max-width: $global-width;
       margin: 0 auto;
          margin-bottom: 30px;

          @include breakpoint(medium) {
            margin-bottom: 50px;
          }

          @include breakpoint(large) {
            margin-bottom: 80px;
          }
               @include breakpoint(xxlarge) {
                 margin-bottom: 100px;
               }
       .buttonwrapper{
             max-width: 1120px;
             margin: 0 auto;
       }
      @include grid-col-gutter;
        @include breakpoint(mediumplus) {
          padding: 0;
        }
     .grid {
       margin: 0 auto;

       .grid-sizer {}

       .grid-item:first-of-type {}

       .grid-item {
         margin-bottom: 20px;
         width: 100%;

         @include breakpoint(mediumplus) {
           width: 31%;
         }

         @include breakpoint(large) {
          width: 32%; 
         }

         article {
           position: relative;

           h2.node-title {
             position: absolute;
           }
         }
       }
     }
    }


.block-views-blockprojects-block-1{
    max-width: $global-width;
    margin: 0 auto;
           margin-bottom: 30px;

           @include breakpoint(medium) {
             margin-bottom: 50px;
           }

           @include breakpoint(large) {
             margin-bottom: 80px;
           }

           @include breakpoint(xxlarge) {
             margin-bottom: 100px;
           }
       .grid {
         margin: 0 auto;
        width: 100%;
         .grid-item {
           margin-bottom: 20px;
           width: 100%;
           @include breakpoint(mediumplus) {
            width: 31%;
           }

           @include breakpoint(large) {
            width: 32%;
           }

           article {
             position: relative;
             transition: 0.3s ease;
             h2.node-title {
               position: absolute;
               opacity: 0;
               transition: 0.3s ease;
               margin: 0 auto;
               text-align: center;
                transform: translateY(-50%);
                top: 50%;
                width: 100%;
                span{
                  text-align: center;
                  text-transform: uppercase;
                  font-weight: bold;
                  display: flex;
                  flex-direction: column;
                  .button{
                    width: 45%;
                    margin: 0 auto;
                    color: white;
                    border: 2px solid white;
                    margin-top: 30px;
                  }
                }
             }
           
           &>::before {
             content: "";
             position: absolute;
             width: 100%;
             height: 100%;
             display: block;
               transition: 0.3s ease;
             background-color: rgba(0,0,0,0.0);
           }
          }
           article:hover{
             &>::before{
               background-color: rgba(0, 0, 0, 0.7);
             }
              h2.node-title {
                
                opacity: 1;
              }
           }
         }
       }
}