figure.slides-wrapper {
  max-width: $max-container;
  margin: 0 auto;
  @include breakpoint(mediumplus){
    position: relative;
  }
  @include breakpoint(large){
    @include grid-col-row;
  }
  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 0 15px;
    @include breakpoint(mediumplus){
      padding: 15px;
      position: absolute;
      top: 0; right: 0;
      z-index: 1;
      max-width: 365px;
      height: 100%;
      color: $white;
    }
    @include breakpoint(large){
      padding: 40px;
    }

    .body {
      .field-item {
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.swiper-pagination {
  position: static;
  padding: 15px 0;
  @include breakpoint(medium){
    padding: 30px 0;
  }
   @include breakpoint(xlarge) {
     padding: 50px 0;
   }

  &.swiper-pagination-bullets {

    .swiper-pagination-bullet {
      width: 13px; height: 13px;
      background-color: $dark-gray;
      border: 2px solid $dark-gray;
      opacity: 1;
      margin: auto 4px;
      display: none;
      @include breakpoint(mediumplus){
        display: inline-block;
      }
      &.swiper-pagination-bullet-active {
        border-color: $medium-gray;
        background-color: transparent;
      }
    }
  }

}

.field-name-field-slides {
  position: relative;
  &:before {
    @include breakpoint(medium){
      content: '';
      position: absolute;
      z-index: 2;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      background-image: linear-gradient(90deg, rgba(0,0,0,0.00) 0%, #000000 100%);
    }
  }
}


.paragraph--type--slide{
  @include grid-col-row;
  max-width: $max-container;
  margin: 0 auto;
}
  .swiper-buttons {
    position: relative;
    display: none;
    @include breakpoint(mediumplus){
      display: block;
    }
    .swiper-button-next {
      top: 40px;
      left: 40px;
      width: 16px;
      height: 24px;
      background-image: url(../../base/images/swiper/next.svg);
      background-size: 16px 24px;
    }

    .swiper-button-prev {
      top: 40px;
      width: 16px;
      height: 24px;
      background-image: url(../../base/images/swiper/prev.svg);
      background-size: 16px 24px;
    }
  }